/* Main CSS */
* {
    box-sizing: border-box;
    padding: 10px;
}

html, body {
    margin:0px;
    height:100%;
    padding:0px;
}

header {
    background-color: #5bc0ce;
    color: #2f4858;
}

nav {
    background-color: #2f4858;
    color: #f7fff6;
}

main {
    background-color: #f7fff6;
}

footer {
    background-color: #5bc0ce;
    color: #2f4858;
    text-align: center;
}

.var-img {
    width: 100%;
    max-width: 1000px;
}

@media only screen and (max-width:300px) {
    body, header, footer {
        font-size: 10px;
    }

    h1 {
        font-size: 1.3em;
    }
}