* {
    box-sizing:border-box;
}

html, body {
    margin:0;
    height:100%;
}

body {
    max-width: 900px;
    margin: auto;
    display: grid;
    grid-template-columns: 400px 200px 1fr;
}

.left, .center, .right {
    width:100%;
}

.left {
    background-color: aqua;
}

.center {
    background-color: crimson;
}

.right {
    background-color: darkviolet;
}

@media only screen and (max-width:600px) {
    body {
        grid-template-columns: 1fr 1fr;
    }
}