/* Main CSS */
body{
    margin:0px;
}

header, footer {
    background-color: #1a2055;
    color: whitesmoke;
    text-align: center;
    display:block;
    width:100%;
    min-height: 80px;
    margin-top:0px;
    padding: 10px;
}

header>h1 {
    margin-top:0px;
}

header>h2 {
    margin-bottom:0px;
}

img {
    float:right;
    width: 300px;
}

main {
    width: 800px;
    margin: auto;
    padding: 5px;
    color: black;
    min-height: 100%;
    clear:both;
}
