/* Main CSS */
header {
    background-color: #c46308;
    text-align: center;
}

main {
    width: 800px;
    margin: auto;
}

.setright {
    display:inline-block;
}

img.setright {
    width: 300px;
    transform: rotate(90deg);
}