@media only screen and (max-width:750px) {
    body {
        grid-template-rows: 100px 1fr 80px;
        grid-template-columns: 160px 1fr;
        grid-template-areas: 
            'header header'
            'nav main'
            'footer footer';
    }

    main {
        grid-template-areas:
            'a a'
            'b c';
    }
}