@media only screen and (max-width:750px) {
    main {
        width: 100%;
        margin: auto;
        padding: 5px;
        clear:both;
    }

    .first {
        width:100%;
        display:block;
    }
    
    .second {
        width:100%;
        display:block;
        text-align:center;
    }

    .second img {
        float: none;
        margin: auto;
    }
}