header {
    background-color: #08b8c4ce;
    text-align: center;
}

main {
    width: 800px;
    margin: auto;
}

.setright {
    display:inline;
}

.setright img {
    width: 300px;
    transform: rotate(90deg);
}
